@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 23.4375rem;
}

#__next {
  @apply bg-eleven dark:bg-twelve;
  position: relative;
  min-height: 100vh;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

body {
  font-family: 'Spartan', sans-serif;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.rfui-error {
  display: none;
}

.screen-gradient {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}
